@page "/regionlatency"

<h1>Region to Region Latency</h1>

To see average latency between azure datacenters via Azure backbone network, please go to <a href="https://docs.microsoft.com/en-us/azure/networking/azure-network-latency" target="_blank">https://docs.microsoft.com/en-us/azure/networking/azure-network-latency</a>

<img class="img-fluid" src="https://docs.microsoft.com/en-us/azure/networking/media/azure-network-latency/azure-network-latency.png" />